[Unit]
Description=Run watchlog script every 30 seconds

[Timer]
OnUnitActiveSec=30
OnBootSec=30
Unit=watchlog.service

[Install]
WantedBy=multi-user.target
